<div class="form-container booyah-box col-10 offset-1 text-center">
  <h2>Reset Password</h2>
  <br />

  <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
  <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email,    label: false, required: false, 
                             placeholder: "Email", autofocus: true %>
    </div>
    <br />

    <div class="form-actions">
      <%= f.button :submit, "Reset password", class: 'btn btn-primary' %>
    </div>
  <% end %>
  <br />

  <p>You will be sent an email with further instructions.</p>

  <%= render "devise/shared/links" %>
</div>