<div class="col-4 offset-4">
  <%= will_paginate @places %>
</div>

<% @places.each do |place| %>
  <div class="booyah-box col-10 offset-1">
    <div class="row">
      <div class="col-12 col-lg-4 offset-lg-1">
        <h1><%= link_to place.name, place_path(place) %></h1>
        <hr />
        <i><%= place.address %></i><br /><br />
        <p><%= place.description %></p><br />

        <% if place.user.present? %>
          <small><%= place.user.email %></small>
        <% end %>

        <% if place.comments.present? %>
          <div class="col-12 blockquote-container">
            <blockquote>
              <% if place.comments.last.humanized_rating.present? %>
                <b><%= place.comments.last.humanized_rating %></b> -
              <% end %>
              <%= place.comments.last.message %>
              <small><%= place.comments.last.user.email %></small>
            </blockquote>
          </div>
        <% end %>

      </div>

      <div class="clear"></div>

      <div class="col-12 col-lg-7 index-photo text-left">
        <% if place.photos.present? %>
          <%= image_tag place.photos.last.picture %>
        <% end %>
      </div>
    </div>


  </div>
<% end %>

<div class="col-4 offset-4">
  <%= will_paginate @places %>
</div>